body {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 20px;
}


/* -------------------------------CSS Banner---------------------------------------- */

.banner {
    display: flex;
    background-color: #2D25A0;
    width: 1440px;
    height: 677px;
}

.text-info {
    margin-left: 131px;
}

.text-info .textOne {
    margin-left: 127px;
    font-size: 64px;
    font-weight: 900;
    color: white;
    /* padding: 20px; */
    line-height: 125%;
    width: 485px;
    height: 230px;
    transition: font-size 2s;
}

.text-info .textOne:hover {
    font-size: 70px;
}

.button {
    display: flex;
    justify-content: center;
    background-color: #E02C6D;
    width: 168px;
    height: 40px;
    padding: 10px 24px;
    /* margin-left: 80px; */
    transition: width 2s linear, transform 4s;
}

.button:hover {
    width: 200px;
    transform: rotate(360deg);
}

.watch a {
    text-decoration: none;
    color: white;
}

.icon {
    color: white;
    padding-left: 10px;
}

.half-width {
    width: 50%;
    margin: 5%;
}

.banner-img img {
    width: 100%;
    margin: 10px
}


/* -------------------------------CSS Banner---------------------------------------- */


/*-------------------------- playercss----------------------------- */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 27px;
}

.player {
    width: 100%;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player .img-thumbnail img {
    width: 100%;
    height: 256px;
}

.playerName {
    font-weight: 700;
    font-size: 28px;
    width: 300px;
    color: #18191F;
}

.player-dec p {
    font-size: 16px;
    color: #6C6C6C;
}


/*-------------------------- playercss----------------------------- */


/*----------------------- score-css --------------------------------*/

.score {
    border-collapse: collapse;
    width: 100%;
    margin: 0 5%;
}

.score th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3DBAFD;
    color: white;
}

.score td {
    color: white;
}

.score th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}


/*----------------------- score-css --------------------------------*/


/* -----------------------------------video-css---------------------------------- */

.iframe-content {
    width: 100%;
    height: 500px;
}

.video {
    width: 100%;
    height: 100%;
}

.table {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.7;
}


/* -----------------------------------video-css---------------------------------- */


/* --------------------------bottom-footer------------------ */

.bottom {
    position: relative;
    width: 100%;
    margin-top: 40px;
}

.social-icon {
    display: flex;
    justify-content: center;
    padding: 0 14px;
}

.social-icon .fab {
    margin: 0 14px;
    background-color: gray;
    border-radius: 40%;
    padding: 5px 10px;
}

.logo {
    width: 483px;
    margin: 0 auto;
}

.logo img {
    width: 100%;
}

.copy h3 {
    font-size: 18px;
    text-align: center;
}


/* --------------------------bottom-footer------------------ */


/* -------------------------------------------media-query--------------------------------------------------------- */

@media only screen and (max-width:688px) {
    .players {
        grid-template-columns: repeat(1, 1fr);
    }
    .player {
        width: 330px;
        height: 474px;
    }
    .player .img-thumbnail img {
        width: 100%;
        height: 256px;
    }
    .half-width {
        width: 800px;
        display: flex;
    }
    .banner-img img {
        width: 100%;
        overflow: hidden
    }
    .text-info .textOne {
        font-size: 40px;
        color: white;
        transition: font-size 2s;
        overflow: hidden;
        z-index: 1;
    }
    .text-info .textOne:hover {
        font-size: 50px;
    }
    /* .container {
        width: 100%;
    } */
}